<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Busqueda de Empleado</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header th:replace="layout/plantilla :: header"></header>

	<div th:replace="layout/plantilla :: nav-superior"></div>


	<main class="contenedor">
		<h2 class="centrar-texto">Documento del Empleado</h2>
		
		<div class="grid centrar-columnas">
			<form th:action="@{/encontrarEmpleado}" method="get" th:object="${empleado}"> 
				<div class="campo">
					<label for="documento">N° Documento</label>
					<input type="number" placeholder="Documento" id="documento" name="documento" th:field="*{documento}" />
					<span th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}">Error Documento</span>
				</div>
				<div class="campo enviar">
					<input type="submit" value="Buscar" class="btn btn-primario">
				</div>
			</form>
		</div>
	</main>

	<footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>