<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Editar de Empleado</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header th:replace="layout/plantilla :: header"></header>

	<div th:replace="layout/plantilla :: nav-superior"></div>


	<main class="contenedor">
		<h2 class="centrar-texto">Empleado (editar)</h2>
		</tr>

		<div class="grid centrar-columnas">
			<form th:action="@{/editarEmpleado}" method="post" th:object="${empleado}">

				<!-- <fieldset> -->
					<div class="campo">
						<label for="documento">N° Documento</label>
						<input type="number" id="documento" th:name="documento" placeholder="Nro. documento" th:field="*{documento}" readonly/>
						<span th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}">Error Documento</span>
					</div>
					<!-- <input type="button" nema="next" class="btn btn-primario" value="Siguiente" />
				</fieldset> -->

				<!-- <fieldset> -->
					<div class="campo">
						<label for="nombre">Nombre</label>
						<input type="text" id="nombre" th:name="nombre" name="nombre" placeholder="Nombre"
							th:field="*{nombre}" />
						<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
					</div>
					<div class="campo">
						<label for="apellido">Apellido</label>
						<input type="text" id="apellido" th:name="apellido" name="apellido" placeholder="Apellidos"
							th:field="*{apellido}" />
						<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Apellido</span>
					</div>
					<div class="campo">
						<label for="puesto">Puesto</label>
						<select th:name="puesto" name="puesto" id="puesto" th:field="*{puesto}">
							<option value="INSPECTOR">INSPECTOR</option>
						</select>
					</div>
					<div class="campo">
						<label for="estado">Habilitado</label>
						<select th:name="estado" name="estado" id="estado" th:field="*{estado}">
							<option value="ALTA">SI</option>
							<option value="BAJA">NO</option>
						</select>
					</div>
					<!-- <input type="button" nema="previous" class="btn btn-primario" value="Anterior" />
					<input type="button" nema="next" class="btn btn-primario" value="Siguiente" />
				</fieldset> -->

				<!-- <fieldset> -->
					<div class="campo enviar">
						<input type="submit" value="Enviar" class="btn btn-primario">
					</div>
				<!-- </fieldset> -->
			</form>
		</div>
	</main>

	<footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>