<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Crea o modifica Persona</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header th:replace="layout/plantilla :: header"></header>

	<div th:replace="layout/plantilla :: nav-superior"></div>


	<main class="contenedor">
		<h1 class="centrar-texto">Datos de la Persona</h1>
		</tr>
		<a th:href="@{/}">Regresar al Inicio</a>
		<div class="grid centrar-columnas">
			<form th:action="@{/guardar}" method="post" th:object="${persona}">
				<input type="hidden" name="idPersona" th:field="*{idPersona}" />
				<div class="campo">
					<label for="documento">N° Docuento</label>
					<input type="number" name="documento" placeholder="Documento" th:field="*{documento}" />
					<span th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}">Error Documento</span>
				</div>
				<div class="campo">
					<label for="nombre">Nombre</label>
					<input type="text" name="nombre" placeholder="Nombre" th:field="*{nombre}" />
					<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
				</div>
				<div class="campo">
					<label for="apellido">Apellido</label>
					<input type="text" name="apellido" placeholder="Apellidos" th:field="*{apellido}" />
					<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Apellido</span>
				</div>

				<div class="campo enviar">
					<input type="submit" name="guardar" value="Enviar" class="btn btn-primario">
				</div>

			</form>
		</div>
	</main>
	
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>