<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Plantilla</title>
</head>

<body>
	<header th:fragment="header">
		<h1>Verificación Técnica Vehicular</h1>
	</header>

	<div th:fragment="nav-superior" id="navegacion" class="navegacion  centrar-texto">
		<nav id="menu">
			<ul class="clearfix">
				<li><a href="#" th:href="@{/}">Inicio</a></li>
				<li><a href="#">Empleado</a>
					<ul>
						<li><a href="#" th:href="@{/cargaEmpleado}">Nuevo</a></li>
						<li><a href="#" th:href="@{/listarEmpleados}">Listar</a></li>
						<li><a href="#" th:href="@{/buscarEmpleado}">Buscar por DNI</a></li>
					</ul>
				</li>
				<li><a href="#" th:href="@{/cargaCliente}">Inspección - clienteTemp</a>
					<ul>
						<li><a href="#" th:href="@{/cargaInspeccion}">Nueva</a></li>
					<!-- 	<ul>
							<li><a href="#" th:href="@{/}">Auto</a></li>
							<li><a href="#" th:href="@{/}">Moto</a></li>
						</ul> -->
						<li><a href="#" th:href="@{/}">Buscar un Dominio</a></li>
						<li><a href="#" th:href="@{/}">Buscar por Propietario</a></li>
						<li><a href="#" th:href="@{/}">Listar por</a>
							<ul>
								<li><a href="#" th:href="@{/}">Aptos</a></li>
								<li><a href="#" th:href="@{/}">Condicionales</a></li>
								<li><a href="#" th:href="@{/}">Rechazados</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<!-- <li><a href="#" th:href="@{/}">Administración</a></li> -->
			</ul>
		</nav>
	</div>


	<footer th:fragment="footer">
		<p>Info footer <a href="#" target="_blank">VTV</a></p>
	</footer>
</body>

</html>