<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Plantilla</title>
</head>

<body>
	<header th:fragment="header">
		<h1>Verificación Técnica Vehicular</h1>
	</header>

	<div th:fragment="nav-superior" id="navegacion" class="navegacion  centrar-texto">
		<nav id="menu">
			<ul class="clearfix">
				<li><a href="#" th:href="@{/}">Inicio</a></li>
				<li><a >Empleado</a>
					<ul>
						<li><a href="#" th:href="@{/cargaEmpleado}">Nuevo</a></li>
						<li><a href="#" th:href="@{/listarEmpleados}">Listar</a></li>
						<li><a href="#" th:href="@{/buscarEmpleado}">Buscar por DNI</a></li>
					</ul>
				</li>

				<!-- Borrar menu Cliente -->
				<li><a href="#">Cliente</a>
					<ul>
						<li><a href="#" th:href="@{/cargaCliente}">Nuevo</a></li>
						<li><a href="#" th:href="@{/listarClientes}">Listar</a></li>
						<!-- <li><a href="#" th:href="@{/}">Buscar por DNI</a></li> -->
					</ul>
				</li>
				<!-- Borrar menu Cliente -->

				<li><a href="#">Inspección</a>
					<ul>
						<li><a href="#" th:href="@{/inspecciones/iniciaInspeccion}">Nueva</a></li>
						<li><a href="#" th:href="@{/auto/cargaAuto}">Carga Auto</a></li>
						<!-- <li><a href="#" th:href="@{/}">Moto</a></li> -->
						<li><a href="#" th:href="@{/auto/buscaDominio}">Buscar un Dominio</a></li>
						<li><a href="#" th:href="@{/auto/buscaPropietario}">Buscar por Propietario</a></li>
						<li><a href="#" th:href="@{/auto/listaAutosTodos}">Listar por</a>
							<ul>
								<li><a href="#" th:href="@{/auto/listaAutos(estado=APTO)}">Aptos</a></li>
								<li><a href="#" th:href="@{/auto/listaAutos(estado=CONDICIONAL)}">Condicionales</a></li>
								<li><a href="#" th:href="@{/auto/listaAutos(estado=RECHAZADO)}">Rechazados</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<!-- <li><a href="#" th:href="@{/}">Administración</a></li> -->
			</ul>
		</nav>
	</div>


	<footer th:fragment="footer">
		<p>Info footer <a href="#" target="_blank">VTV</a></p>
	</footer>
</body>

</html>