<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
   <meta charset="UTF-8">
   <title>Carga de Inspecciones</title>
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <header th:replace="layout/plantilla :: header"></header>

   <div th:replace="layout/plantilla :: nav-superior"></div>
   <main class="contenedor">
      <h2 class="centrar-texto">Cargando nueva Inspección</h2>
      <hr>
      <h3 class="centrar-texto">Seleccione un Inspector</h3>
      <div class="centrar-texto">
         <label for="empleado">Inspector</label>
         <select th:field="${empleados}" name="empleados" id="empleados">
            <!-- th:field="${empleados}" th:each="empleado : ${empleados}"> -->
            <option th:each="empleado : ${empleados}" th:value="${empleado.documento}"
               th:text="${empleado.nombre} + ' ' + ${empleado.apellido}">Inspector n</td>
         </select>
      </div>
      <!--        HASTA ACA         ------         CARGA INSPECTOR         -->
      <br>
      <hr>

      <!-- <div class="grid centrar-columnas">
			<form th:action="@{/encontrarCliente}" method="get" th:object="${cliente}"> 
				<div class="campo">
					<label for="documento">N° Documento</label>
					<input type="number" placeholder="Documento" id="documento" name="documento" th:field="*{documento}" />
					<span th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}">Error Documento</span>
				</div>
				<div class="campo enviar">
					<input type="submit" value="Buscar" class="btn btn-primario">
				</div>
			</form>
		</div> -->

      <h3 class="centrar-texto">Datos del Conductor</h3>
      <div class="grid centrar-columnas">
         <form th:action="@{/guardarCliente}" method="post" th:object="${cliente}">
            <div class="campo">
               <label for="documento">N° Documento</label>
               <input type="number" id="documento" name="documento" placeholder="Nro. documento"
                  th:field="*{documento}" />
               <span th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}">Error Documento</span>
            </div>
            <div class="campo">
               <label for="nombre">Nombre</label>
               <input type="text" id="nombre" name="nombre" placeholder="Nombre" th:field="*{nombre}" />
               <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
            </div>
            <div class="campo">
               <label for="apellido">Apellido</label>
               <input type="text" id="apellido" name="apellido" placeholder="Apellidos" th:field="*{apellido}" />
               <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Apellido</span>
            </div>
            <div class="campo">
               <label>Propietario</label>
               <input type="checkbox" id="propietario" checked th:field="*{exento}" value="SI"/>
            </div>
            <div class="campo enviar">
               <input type="submit" value="Enviar" class="btn btn-primario">
            </div>
         </form>
      </div>

      <hr>
      <h3 class="centrar-texto">Datos del Propietario</h3>
      <!-- <div class="grid centrar-columnas">
         <form th:action="@{/guardarCliente}" method="post" th:object="${cliente2}">
            <div class="campo">
               <label for="documento">N° Documento</label>
               <input type="number" id="documento" name="documento" placeholder="Nro. documento"
                  th:field="*{documento}" />
               <span th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}">Error Documento</span>
            </div>
            <div class="campo">
               <label for="nombre">Nombre</label>
               <input type="text" id="nombre" name="nombre" placeholder="Nombre" th:field="*{nombre}" />
               <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
            </div>
            <div class="campo">
               <label for="apellido">Apellido</label>
               <input type="text" id="apellido" name="apellido" placeholder="Apellidos" th:field="*{apellido}" />
               <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Apellido</span>
            </div>

            <div class="campo enviar">
               <input type="submit" value="Enviar" class="btn btn-primario">
            </div>
         </form>
      </div> -->

      <br>
      <hr>
      <br>


      <br>
      <hr>
      <br>





   </main>


   <footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>