<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
   <meta charset="UTF-8">
   <title>Carga de Inspecciones</title>
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <header th:replace="layout/plantilla :: header"></header>

   <div th:replace="layout/plantilla :: nav-superior"></div>
   <main class="contenedor">
      <h2 class="centrar-texto">Cargando nueva Inspección</h2>
      <hr>
      <form th:action="@{/inspecciones/guardarInspeccion}" method="post" th:object="${inspeccion}">

         <div class="campo centrar-texto">
            <h4>Inespector</h4>
            <label for="inspectorN">Nombre</label>
            <label type="text" name="inspectorN" th:text="*{inspector.nombre}" readonly ></label>
            <br>
            <label for="inspectorN">Apellido</label>
            <label type="text" name="inspectorA" th:text="*{inspector.apellido}" readonly ></label>
            <input type="hidden" name="inspector" th:field="*{inspector}" value="*{inspector.documento}"/>
         </div>
         <hr>
         <div class="campo centrar-texto">
            <h4>Vehiculo</h4>
            <label for="autoD">Dominio</label>
            <label type="text" name="autoD" th:text="*{auto.dominio}" readonly></label>
            <br>
            <label for="autoMa">Marca</label>
            <label type="text" name="autoMa" th:text="*{auto.marca.marca}" readonly></label>
            <br>
            <label for="autoMo">Modelo</label>
            <label type="text" name="autoMo" th:text="*{auto.modelo.modelo}" readonly></label>
            <input type="hidden" name="autoD" th:field="*{auto}" value="*{auto.dominio}"/>
         </div>
         <hr>
         <div class="campo centrar-texto">
            <h4>Propietario</h4>
            <label for="propD">Documento</label>
            <label type="text" name="propD" th:text="*{auto.propietario.documento}" readonly ></label>
            <br>
            <label for="propN">Nombre</label>
            <label type="text" name="propN" th:text="*{auto.propietario.nombre}" readonly ></label>
            <br>
            <label for="propA">Apellido</label>
            <label type="text" name="propA" th:text="*{auto.propietario.apellido}" readonly ></label>
            <br>
            <label for="propE">Exento</label>
            <label type="text" name="propE" th:text="*{auto.propietario.exento}" readonly ></label>
         </div>

         <div class="campo centrar-texto">
            <label for="empleado">Medibles:</label>
            <select th:field="*{medibles}" name="medibles" id="medibles">
               <option th:value="PASO" th:text="PASO" th:selected="true">Ok</option>
               <option th:value="NO-PASO" th:text="NO-PASO" th:selected="true">Mal</option>
            </select>
         </div>
         <div class="campo centrar-texto">
            <label for="empleado">visuales:</label>
            <select th:field="*{visuales}" name="visuales" id="visuales">
               <option th:value="PASO" th:text="PASO" th:selected="true">Ok</option>
               <option th:value="NO-PASO" th:text="NO-PASO" th:selected="true">Mal</option>
            </select>
         </div>



         <div class="campo enviar centrar-texto">
            <input type="submit" value="Enviar" class="btn btn-primario" />
         </div>
      </form>

   </main>


   <footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>