<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
   <meta charset="UTF-8">
   <title>Carga de Inspecciones</title>
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <header th:replace="layout/plantilla :: header"></header>

   <div th:replace="layout/plantilla :: nav-superior"></div>
   <main class="contenedor">
      <h2 class="centrar-texto">Verificación de componentes medibles</h2>
      <hr>
      <form th:action="@{/inspecciones/insertarMedibles}" method="post" th:object="${inspeccion}">
         <!-- <label for="fecha" th:field="*{fecha}" name="fecha" th:text="'Fecha de inspeccion: ' + *{fecha}"></label> -->
         <h4 class="centrar-texto" >Resultado del control</h4>
         <div >
            <div class="campo centrar-texto">
               <label for="empleado">Medibles:</label>
               <select th:field="*{medibles}" name="medibles" id="medibles">
                  <option th:value="*{medibles}" text="PASO" th:selected="true">Ok</option>
                  <option th:value="*{medibles}" text="NO PASO" th:selected="true">Mal</option>
               </select>
            </div>
            <div class="campo centrar-texto enviar">
               <input type="submit" value="Siguiente" class="btn btn-primario" />
            </div>
      </form>
      </div>

   </main>

   <footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>