<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
	   <meta charset="UTF-8">
	   <title>Pagina de inicio</title>
	   <link rel="stylesheet" href="css/normalize.css">
	   <link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<header th:replace="layout/plantilla :: header"></header>

		<nav id="nav" class="navegacion-principal contenedor">
			<ul>
				<li><a href="#"th:href="@{/cargaPersona}">Crear Persona</a></li>
				<li><a href="#"th:href="@{/cargaEmpleado}">Crear Empleado</a></li>
				<li><a href="#"th:href="@{/cargaConductor}">Crear Conductor</a></li>
			</ul>
		</nav> 


		<div th:if="${personas != null and !personas.empty}">
			<table border="1">
				<tr>
					<th>Id Persona:</th>
					<th>Nombre:</th>
					<th>Apellido:</th>
					<th>Documento:</th>
					<th>Editar:</th>
					<th>Eliminar:</th>
				</tr>
				
				<tr th:each="persona : ${personas}">
					<td th:text="${persona.idPersona}">Mostrar Id</td>
					<td th:text="${persona.nombre}">Mostrar Nombre</td>
					<td th:text="${persona.apellido}">Mostrar Apellido</td>
					<td th:text="${persona.documento}">Mostrar Documento</td>
					<td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td>
					<td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
				</tr>
			</table>
	   </div>
	   <div th:if="${personas == null or personas.empty}">
			<p>La lista de personas está vacía</p>
		</div>


	   <form action="cargaEmpleado" method="get">
			<input type="submit" value="Ir a Form Empleado"/>
		</form>
		<br/>
	   <form action="cargaConductor" method="get">
			<input type="submit" value="Ir a Form Conductor"/>
		</form>

		<footer th:replace="layout/plantilla :: footer"></footer>
	</body>
</html>