<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Pagina de inicio</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<dir class="centrar-texto">
		<header th:replace="layout/plantilla :: header"></header>
	</dir>

	<div th:replace="layout/plantilla :: nav-superior"></div>

	<footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>