<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns"http://www.w3.org/1999/xhtml">

<head>
   <meta charset="UTF-8">
   <title>Pagina de Informes</title>
   <link rel="stylesheet" href="css/normalize.css">
   <link rel="stylesheet" href="css/style.css">
</head>

<body>
   <header th:replace="layout/plantilla :: header"></header>

   <div th:replace="layout/plantilla :: nav-superior"></div>

   <main class="contenedor">
      <h2 class="centrar-texto">Documento del Empleado</h2>
      <!-- <div class="grid centrar-columnas" th:if="${empleados != null and !empleados.empty}"> -->
         <div class="grid centrar-columnas" th:if="${empleado != null and !empleado.empty}">
         <!-- <div class="grid centrar-columnas" th:if="${empleado != null}"> -->
         <table border="1">
            <tr>
               <th>Documento:</th>
               <th>Nombre:</th>
               <th>Apellido:</th>
               <th>Puesto:</th>
               <th>Editar:</th>
               <th>Eliminar:</th>
            </tr>

            <tr> <!-- th:each="empleado : ${empleados}" -->
               <td th:text="${empleado.documento}">Mostrar Documento</td>
               <td th:text="${empleado.nombre}">Mostrar Nombre</td>
               <td th:text="${empleado.apellido}">Mostrar Apellido</td>
               <td th:text="${empleado.puesto}">Mostrar Puesto</td>
               <td><a th:href="@{/editarEmpleado(documento=${empleado.documento})}" th:text="Editar" /></td>
               <!-- <td><a th:href="@{/editarEmpleado/} + ${empleado.documento}" th:text="Editar" ></td> -->
               <td><a th:href="@{/eliminarEmpleado/} + ${empleado.documento}" th:text="Eliminar" /></td>
            </tr>
         </table>
      </div>

      <div th:if="${empleado == null or empleado.empty}">
      <!-- <div th:if="${empleado == null}"> -->
         <p>No se encuentro el empleado</p>
      </div>
   </main>

   <footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>